.heading1 {
    color: aqua;
    text-align:center;
}
/* მიყავს იმ მიმართულებით საითაც ვუბრძანებთ */
.heading2 {
    color: blue;
    text-transform:lowercase;
    /* აკონტროლებს ტექსტის კაპიტალიზაციას ანუ ჩვეულებრივ ტრანსფორმაციას აკეთებს წინადადებაზე და სიტყვებზე */
}
.heading3 {
    color: blueviolet;
    text-decoration: underline;
    /* ტექსტის დეკორაცია ანუ ვიზუალურად შეგვიძლია უფრო ლამაზი გავხადოთ */
}
.heading4 {
    color: brown;
    text-shadow: 12px 10px 10px violet;
    /* აკეთებს  ტექსტის ჩრდილს და წევს იმდენი პიქსელით რამდენითც ვუბრძანებთ ასევე შეგვიძლია მივანიჭოთ ფერი და სიბლარე */
}
.heading5 {
    color: chartreuse;
    line-height: 10;
    /* ვერტიკალურად ადიდებს და აპატარავებს დაშორებას წინადადებებს შორის */

}
.heading6 {
    word-spacing: 80px;
    /* აშორებს და აახლოვებს სიტყვებს */
    letter-spacing: 20px;
    /* აშორებს და აახლოვებს ასოებს */
}