div {
    width: 200;
    height: 200;
    text-align: center;
    border: 2px solid wheat;
    background-color: blueviolet;
    color: black;
    font-size: 2em;
    
}
div {
    transform: rotate(180deg) translate(200deg) scale(2) skew(100px, 100px);
}